<%- include("../../partials/header.ejs")%>
    <%- include("../../partials/navbar.ejs")%>

        <div class="container">
            <br>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Listagem de Categoria</h4>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Título</th>
                                <th>Slug</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% categories.forEach(category=> { %>
                                <tr>
                                    <th>
                                        <%= category.id %>
                                    </th>
                                    <th>
                                        <%= category.title %>
                                    </th>
                                    <th>
                                        <%= category.slug %>
                                    </th>
                                    <th>
                                        <form method="POST" action="/categories" style="display: inline;">
                                            <input type="hidden" name="id" value="<%= category.id %>">
                                            <button class="btn btn-outline-primary btn-sm">Editar</button>
                                        </form>
                                        <form method="POST" action="/categories/delete" style="display: inline;"
                                            onsubmit="confirmarDelecao(event, this)">
                                            <input type="hidden" name="id" id="name" value="<%= category.id %>">
                                            <button class="btn btn-outline-danger btn-sm">Excluir</button>
                                        </form>

                                    </th>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer">
                    <a href="/admin/categories/new" class="btn btn-success">Criar Categoria</a>
                </div>

            </div>
        </div>

        <%- include("../../partials/footer.ejs") %>

            <script>
                function confirmarDelecao(event, form) {
                    event.preventDefault();
                    var decision = confirm("Você deseja excluir essa categoria?");
                    if (decision)
                        form.submit();
                }
            </script>